body {
  color: #40514E;
  margin: 0;
  /* This makes all elements (not only text, ALL elements) that dont have a width set centered (such as the cloud image).
             ** Elements with width set are not affected, as the "h1" in this example */
  text-align: center;
  font-family: 'Merriweather', serif;
  /* If the first font is not available, the second will be used. The first should be available
                                      though, as it will be automatically downloaded from googl, due to the link to Google Fonts on
                                      the Index.html header */
}

h1 {
  /* Because this element as a width set the "text-align" attribute of it's parent (the body in this case) doesn't affect this.
  ** To center this, the "margin" attribute can be set to auto. This automatically sets the right and left margin values that
  ** will make this element perfectly in the center of the screen. The top and bottom values are set as 0. */
  margin: 50px auto 0 auto;
  /* Top Right Bottom left (clockwise) */
  width: 50%;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  /* rem = dinamic size that doesn't multiply from parent elements font size.
                      ** 1 rem = 100% = 16px. | 90px/16px =  */
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
  /* 40px / 16px = 2.5rem */
  /* font-weight: normal; */
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
  font-weight: bold;
}

hr {
  border-style: none;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.middle-container {
  margin: 100px auto;
}

.profile {
  margin: auto;
  width: 35%;
}

.skill-row {
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.boy-img {
  background-color: #eeeeee;
  border-radius: 100%;
  width: 170px;
}

.guitar-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.dog-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.contact-message {
  margin: 40px auto 60px;
  width: 40%;
}

.footer-link {
  color: #11999E;
  margin: 15px;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  margin: 0;
  font-size: 0.75rem;
  padding: 20px 0;
}

/* If the classes below were applied to the paragraphs under on the skill descriptions they would cancel the "float: left" property
from the dog-img / guitar-img, making the float affect only the h1 element that doesn't have it's clear property set. The visual
result would be the image on the left, header on its right and text below both.

 .guitar-skill-description {
  clear: left;
}

.dog-skill-description {
  clear: right;
} */
